<h1>Burgers!</h1>

<h2>Uneaten Burgers!</h2>

<ul>
  {{!-- {{#each burgers}}
  <div class="row">{{this.burger_name}}</div>
  {{/each}} --}}


  {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devoured=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger name:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <div class="form-group">
  <button type="submit">Add Burger</button>
</form>